#!/usr/bin/make -f

index = $(CURDIR)/src/index.php
feed = $(CURDIR)/src/feeds.conf
rss = $(CURDIR)/src/rss_php.php
sv2g11 = $(CURDIR)/sv2g11

DEST1 = $(CURDIR)/debian/cw1-6005-sv2g11/usr/share/cw1-6005-sv2g11/
DEST2 = $(CURDIR)/debian/cw1-6005-sv2g11/usr/bin/

build: build-stamp
build-stamp:
	dh_testdir

	# Add here commands to compile the package.
	#$(MAKE)

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp

	# Add here commands to clean up after the build process.
	#$(MAKE) clean
	#$(MAKE) distclean

	dh_clean

install: build $(index) $(feed) $(rss) $(sv2g11)
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs

	mkdir -m 777 -p $(DEST1)
	mkdir -m 777 -p $(DEST2)

	install -m 666 $(index) $(DEST1)
	install -m 666 $(feed) $(DEST1)
	install -m 666 $(rss) $(DEST1)
	install -m 777 $(sv2g11) $(DEST2)

	# Add here commands to install the package into debian/<packagename>.
	#$(MAKE) prefix=`pwd`/debian/`dh_listpackages`/usr install

# Build architecture-independent files here.
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installexamples
#	dh_installmenu
#	dh_installdebconf
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installcatalogs
#	dh_installpam
#	dh_installmime
#	dh_installinit
#	dh_installcron
#	dh_installinfo
#	dh_installwm
#	dh_installudev
#	dh_lintian
#	dh_bugfiles
#	dh_undocumented
	dh_installman
	dh_link
	dh_compress
	dh_fixperms
#	dh_perl
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

# Build architecture-dependent files here.
binary-arch: build install
# We have nothing to do by default.

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
